@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.posts-container {
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.nav-shadow {
  -webkit-box-shadow: 0px 5px 3px -5px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 5px 3px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 5px 3px -5px rgba(0, 0, 0, 0.27);
}

.pagination-item {
  border-top: 1px solid #edf2f7;
  border-bottom: 1px solid #edf2f7;
}

.pagination-item:first-child,
.pagination-item:last-child {
  border-left: 1px solid #edf2f7;
  border-right: 1px solid #edf2f7;
}

.pagination-item:nth-child(odd) {
  border-left: 1px solid #edf2f7;
  border-right: 1px solid #edf2f7;
}

/* cropper */

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

/* modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* LOADING SPINNER */

.lds-ring {
  margin: auto;
  margin-top: 5em;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #333;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
